#show-img {
    width: 250px;
    height: 150px;
}
.TripItem-container {
    text-decoration: none;
    padding: 10px;
}

.TripItem-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TripItem-destination {
    font-weight: 600;
}