.page-layout{
    width: 100vw;
    height: 80vh;
}
/* .search-bar{
    width: 100%; */
    /* height: 20%; */
/* }
.search-form{
    width: 100%;
} */

.trip-page-header{
    display: flex;
    justify-content: center;
}
.trip-items-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}