.page-layout{
    width: 1400px;
    height: fit-content;
}
/* #searchBar{
    width: 90vw;
} */
.show-all-trips-btn{
    display:flex;
    justify-content: center;
}
.trip-page-header{
    display: flex;
    justify-content: center;
    max-width: 1150px;
    padding: 15px;
}
.trip-items-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#trip-index-search{
    position:inherit;
}