#show-linear-map-img{
    height: 550px;
    width: 250px;
    padding-right: 95px;
}
.trip-show-address-details-and-linear-map{
    display: flex;
    height: fit-content;
    width: 100%;
    padding-top: 45px;
    justify-content: space-between;
}
.trip-show-address-details-container{
    width: 60vw;
    padding-left: 25px;
}
.trip-show-address{
    display: flex;
    /* justify-content: space-between; */
}
.trips-show-address-display{
    padding-right: 55px;
    width: 75%;
}
#header{
    font-size: x-large;
    padding-bottom: 10px;
}
#non-header{
    padding-left: 10px;
}
.trip-show-passengers{
    padding-top: 25px;
}
.trips-show-address-display{

}
.trip-show-edit-btn-container{
    display:flex;
    justify-content: center;
    padding: 20px;
}
.edit-btn-container{
    background-color: var(--brand-pink);
    /* background-color: var(--brand-mustard); */
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.trip-show-edit-btn{
    text-decoration: none;
}
.trip-show-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30%;
}
.trip-show-driver-name{
    display: flex;
}
.trip-show-points-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 10px;
}
#trip-show-points{
    font-size: xx-large;
}

.trip-show-map {
    width: 45%;
    padding-left: 5%;
    padding-right: 5%;
}
#trip-seats-time-details{
    padding-bottom: 8px;
    padding-left: 10px;
}