.footer-container {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 70px;
}

.footer-authors {
  display: flex;
  justify-content: space-evenly;
}

.footer-author-icons > * {
  margin: 10px
}