.profile-bio-container {
  margin: 10px 30px;
}

.profile-sidebar-container {
  display: flex;
  flex-direction: column;
  width: 330px;
  gap:20px;
  align-items: center;
  text-align: center;
}

.profile-sidebar-container button {
  margin-top: 12px;
}