:root {
  --brand: #077187;
  --brand-pink: #f87666;
  --brand-mustard: #f6ae2d;
  --brand-dark-teal: #074f57;
  --brand-black: #2c2f33;
  --off-white: #f6f6f6;
}

body {
  background-color: var(--off-white);
  color: var(--brand-black)
}

h1 {
  color: var(--brand)
}

h2 {
  color: var(--brand-dark-teal)
}

a {
  color: var(--brand-pink);
}