.user-trips-layout{
    width: 100vw;
}
.user-trips-header-container{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 25px;
}
.user-trips-header-h3{
    font-size: xx-large;
}
.user-trips-container{
    display: flex;
    flex-direction: row;
}
.user-trips-nav-container{
    display: flex;
    flex-direction: column;
    /* width: 30vw; */
    justify-content: space-between;
}
.user-trips-index-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
}
@media screen and (min-width: 1100px) {
    .user-trips-index-container{
        max-width: 1100px;
    }
}

