.rider-request {
    width: 100%;
}

.google-map {
    width: 100%;
    height: 300px;
}

.map {
    width: 100%;
}

#waypoint {
    width: 94%;
}

.rider-request-form-btn-container {
    margin-top: 10%;
}