.rider-request {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rider-request-form-header {
    margin-top: 3%;
    margin-bottom: 3%;
}

.request-a-ride {
    font-size: 35px;
}

.rider-request-form-div {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-around;
}

#waypoint {
    display: flex;
    width: 96%;
    height: 40px;
    margin: 0;
}
.google-map {
    width: 100%;
    height: 400px;
    margin-top: 3%;
}

#map {
    width: 100%;
    height: 85%;
}


.rider-request-form-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

.rider-request-buttons {
    height: 50px;
}

#rider-request-error {
    font-size: 18px;
}